*{
    padding: 0px;
    margin: 0px;
    font-size: 15px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: 1b1b1b;
    color: rgb(255, 255, 230);
}

.contentAll{
    border: 0.8px solid #ddd;
    margin: 0 188px;
    display: block;
    height: 680px;
}

.heading{
    height: 150px;
}

.nameWeb{
    display: block;
    position: relative;
}

.heading .nameWeb h1{
    text-transform: uppercase;
    color: rgba(250, 34, 14, 0.7);
    font-size: 34px;
    margin-left: 5px;
    line-height: 80px;
}

h1{
    width: 100%;
    display: inline;
}

.heading .nameWeb h1:hover{
    color: red;    
    cursor: pointer;
}


.search{
    border: 0.8px solid #ddd;
    height: 29;
    position: absolute;
    right: 0px;
    top: 26px;
}

.searchIcon{
    position: absolute;
    display: block;
    right: 210px;
    top: 35px;
}

.searchIcon:hover{
    color: red;
    cursor: pointer;
}
.heading .nav-bar{
    border-top: 0.8px solid #ddd;
    border-bottom: 0.8px solid #ddd;
    
}


.nav-bar li{
    display: inline-block;
    background-color: rgb(43, 43, 43);
    padding: 5px 10px;
    margin-top: 5px;
    cursor: pointer;
}

.nav-bar li:hover{
    color: red;
}

.lisfilm{
    position: relative;
}

.film{
    
    float: left;
    width: 20%;
    height: 210px;
    margin-bottom: 15px;
}

.film .imgFilm:hover{
    opacity: 0.6;
}

.film .imgFilm img{
    width: 100%;
    padding: 5px;
}


.film .titleFilm {
    margin-left: 5px;
    text-align: center;
}

.film .titleFilm a:hover{
    color: white;
    background-color: rgba(43, 43, 43, 1);
}

.film .titleFilm a{
    text-decoration: none;
    font-size: 14px;
}

.listPage{
    text-align: center;
}

.listPage .page{
    text-align: center;
    display: inline-block;
}

.listPage .page a{
    padding: 5px 15px;
    border: 0.8px solid rgb(218, 218, 218);
    text-decoration: none;
}

.page a:hover{
    background-color: red;
}






